<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZjN1v7QK5HrfX9WqwGsPQV92tsxg0tCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582909295950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsc.app</string>
	<key>PROJECT_ID</key>
	<string>lsc-freights</string>
	<key>STORAGE_BUCKET</key>
	<string>lsc-freights.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582909295950:ios:4bfc1fb7df21b92ea6f21f</string>
	<key>DATABASE_URL</key>
	<string>https://lsc-freights-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>